body
{
	background-image: url("img/hexellence.png");
}
#container
{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.logo
{
	background-image: url("/resources/images/tloMenu.jpg");
	color:white;
	text-align: yustify;
	height:155px;
	border-radius: 20px;
}

.logo1
{
	
	float:left;
	margin-left:40px;
	width: 250px;
	height:155px;
	
}

.logo1 img
{
	width: 155px;
	height: 155px;
}

.tyt 
{
	position:relative;
	float:left;
	width: 900px;
	height:155px;
	font-size: 25px;
	margin-top:17px;
}
#topnav
{
	background-color:#33CC00;
	text-align: center;
	border-radius: 20px;
}

.menu
{
	list-style-type: none;
	margin: 0;
	padding: 10px;
	font-size: 18px;
	min-height: 38px;
	line-height: 200%;
}

.menu > li
{
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	border-right: 1px dashed #0a2b42;
}

.menu > li:first-child
{
	border-left: 1px dashed #0a2b42;
}

.menu a
{
	color: #fff;
	text-decoration: none;
}

.menu a:hover
{
	color: #0a2b42;
}
a:link, a:visited {
    background-color: #0080c0;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: #004080;
}
#nawigation
{
	float: left;
	min-height: 820px;
	background-color: lightgray;
	width:200px;
	padding:10px;
}
#content
{
	float: left;
	padding: 20px;
	width: 720px;
}
#zalog
{
	
	float: left;
	width: 200px;
	min-height: 820px;
	padding: 10px;
	background-image: url("img/hexellence.png");
}
#footer
{
	clear: both;
	background-color: #8080ff;
	color:black;
	text-align: center;
	padding: 20px;
}

#container1
{
	background-color:white;
	width: 300px;
	padding: 50px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 100px;
	-webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
}
#container2
{
	background-color:white;
	width: 300px;
	padding: 50px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 100px;
	-webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
}


input[type=text],
input[type=password]
{
	width:300px;
	background-color:#efefef;
	color:#666;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 20px;
	padding:10px;
	box-sizing: border-box;
	outline:none;
	margin-top:10px;
}
input[type=text]:focus,
input[type=password]:focus
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	border: 2px solid #a5cda5;
	background-color: #e9f3e9;
	color: #428c42;
}

input[type=submit]
{
	width: 200px;
	text-align: center;
	background-color: #36b03c;
	font-size: 20px;
	color: white;
	padding: 15px 10px;
	margin-top: 10px;
	border: none;
	border-radius: 5px;
	cursor:pointer;
	letter-spacing: 2px;
	outline:none;
	margin-top:25px;
}
input[type=submit]:hover
{
	background-color: #37d9b3;
}
input[type=submit]:focus
{
	-webkit-box-shadow: 0px 0px 10px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 10px 5px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 10px 5px rgba(204,204,204,0.9);
}

input[type=cancel]
{
	width: 200px;
	text-align: center;
	background-color: red;
	font-size: 20px;
	color: white;
	padding: 15px 10px;
	margin-top: 10px;
	border: none;
	border-radius: 5px;
	cursor:pointer;
	letter-spacing: 2px;
	outline:none;
	margin-top:25px;
}
input[type=cancel]:hover
{
	background-color: #800000;
}
input[type=cancel]:focus
{
	-webkit-box-shadow: 0px 0px 10px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 10px 5px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 10px 5px rgba(204,204,204,0.9);
}
input::-webkit-input-placeholder
{
	color: #999;
}
input:focus::-webkit-input-placeholder
{
	color: #428c42;
}

